*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 16px;
    /* overflow: hidden; */
}
.icon1{
    display: flex;
    justify-content: flex-start;
    align-content: space-between;
    /* margin: 0 auto; */
    font-size: 20px;
    overflow: hidden;
}
.navie{
    /* background-color: beige; */
    /* max-width: 100%; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    /* overflow: hidden; */
    z-index: 10000;
}
.con{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 40px;
    /* z-index: 1; */
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}
.smth{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    /* font-size: 20px; */
    padding-left: 12rem;
}

.item{
    height: 80px;
}
.nth{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    font-size: 20px;
    padding-left: 8rem;
}

.box{
    display: flex;
    max-width: 70%;
    margin:50px auto;
    justify-content: space-between;
}
.col1{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 39%;
    position: relative;
    overflow: hidden;
    
}
img{
    width:105%;
}
.text1{
    position: absolute;
    top: 20px;
    left: 20px;
}
.col2{
    display: flex;
    flex-wrap: wrap;
    width: 59%;
}
.col3{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}
.img1, .img2, .img3{
    position: relative;
    overflow: hidden;
}
.img2, .img3{
    width: 48.5%;
}
#idc{
    font-size: 40px;
}
h1{
    font-size: 20px;
}
p{
    font-size: 12px;
}
.zen{
    display: block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#ren{
    font-size: 20px;
}
.tan{
    justify-content: space-between;
    max-width: 80%;
    margin: 0px auto;
}
.row1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 10px;
}
.sect img{
    width: 210px;
}
.row2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}
.text2{
    text-align: center;
}

.ino{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.giy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
}
.bxs-book-reader,.bx-trending-up, .bxs-book-content{
    color: rgb(86, 168, 216);
    font-size: 120px;
    /* margin-inline: 100px;
    margin-right: -50%; */
}

.text3{
    margin-left: 20px;
    padding-bottom: 70px;
}

.dem{
    justify-content: center;
    max-width: 1080px;
    margin: 0 auto;
}

.dem img{
    max-width: 100%;
    border-radius: 2px;
}

.adv{
    text-align: center;
    margin-bottom: 10px;
}
.fea{
    font-size: 40px;
}

.row4{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content:space-between;
    align-items: center;
    /* width: 210px; */
    margin-top: 50px;
}
.snow{
    display: flex;
    flex-direction: row;
    word-spacing: 20px;
    margin-left: 20px;
}
.rub{
    font-size: 20px;
    font-weight: 30px;
    margin-left: 20px;
}
#rub{
    /* color: lightslategray; */
    margin-left: 20px;
}
.ico1{
    font-size: 20px;
    /* margin-left: -15px; */
}
/* .bx-line-chart, .bx-alarm{
    margin-inline: 100px;
} */
.bx-alarm{
    margin-left: -20px;
} 
.bx-line-chart{
    margin-left: 30px;
}
.talk{
    font-size: 15px
}
.learn{
    margin-left: 20px;
    /* color: black; */
}
.bored{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: 5rem;
    overflow: hidden;
}
.beyored{
    text-align: center;
    border: 10px;
    padding: 100px 50px 0 0;
}
.star{
    color: gold;
}
/* .kenshin{
    size: 100px;
    
} */
.ali{
    overflow: hidden;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
}
.tiring{
    position: absolute;
    top: 10px;
    left: 20px;
    margin: 150px 0 0 450px;
    text-align: center;
}
button{
   /* background-color: blue; */
   border: none;
   border-radius: 5px;
   color: whitesmoke;
}

.row5{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 30px 0;
    border-bottom: 10px;
}
.ban{
    margin-left: 100px;
}
.merry{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 50rem;
}
.last{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px;
    list-style: none;
}

input{
    position: relative;
    display: inline-block;
    font-size: 20px;
    box-sizing: border-box;
}

input[type="email"]{
    background: rgb(241, 234, 225);
    height: 45px;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 10px 0 0 10px;
}

input[type="submit"]{
    height: 45px;
    border: none;
    outline: none;
    padding: 0 10px;
    border-radius: 0 10px 10px 0;
    left: -10px;
}

.info h6{
    font-weight: 5rem;
}
.foot{
    background-color: whitesmoke;
    font-size: 40px;
    width: 100%;
    height: 100%;
    padding: 20px;
}

@media screen and (max-width: 768px){
    .icon1{
        height: 50px;
    }
    .aka{
        padding-top: -10px;
        font-size: 12px;
        margin: 0 auto;
    }
    .navie{
        overflow: hidden;
    }
    .icon1{
        font-size: 0;
    }
    .menuitem{
        flex-direction: column;
        position: absolute; 
        background: whitesmoke;
        width: 100%;
        top: -500px;
        right: 0px;
        
        z-index: 100000 !important;
        transition: all ease-in-out 500ms;
        overflow: hidden;
    }
  
    .menuitem .icons div{
        margin: 0 !important;
        /* background: #000; */
    }
    .menuitem .icons ul{
        margin: 0px;
        display: flex;
        flex-direction: row;
        width: 100%;

    }
    .menuitem.active{
        top: 70px;
    }
    .togg .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #000;
    }
    .navtem{
        width: 100%;
    }
    .classy{
        text-align: center;
        /* padding: 0.3rem; */
        width: 100%;
        display: table;
    }
    #mobmen{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
        z-index: 30000;
    }

    .togg .bar{
        display: block;
        cursor: pointer;
    }
    #mobmen.is.active .bar:nth-child(2){
        opacity: 0;
    }
    #mobmen.is.active .bar:nth-child(1){
        transform: translate(8px) rotate(45deg);
    }
    
    #mobmen.is.active .bar:nth-child(3){
        transform: translate(-8px) rotate(-45deg);
    }
}
@media screen and (max-width: 768px){
    #idc{
        font-size: 15px;
        /* padding-top: -10%; */
    }
    #cur{
        font-size: 12px;
    }
    .idk{
        font-size: 10px;
    }
    .zen{
        padding-top: 20%;
        padding-bottom: 10%;
    }
    .text2{
        padding-bottom: 30px;
    }
    .giy{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
    .bxs-book-reader,.bx-trending-up, .bxs-book-content{
        color: rgb(86, 168, 216);
        font-size: 90px;
        /* padding-left: 40px; */
    }
    .text3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        flex-wrap: nowrap;
        margin-left: 10px;
        padding-bottom: 70px;
    }
    #text{
        font-size: 15px;
        font-weight: bolder;
    }
    .text1{
        position: absolute;
        top: 1px;
        left: 5px;
    }
    .row4{
        display: grid;
        justify-content: center;
    }
    .ict{
        margin: 10px;
    }
    .snow{
        font-size: 10px;
        word-spacing: 10px;
        margin-left: 10px;
    }
    .rub{
        font-size: 18px;
        font-weight: 20px;
        margin-left: 10px;
    }
    #rub{
        margin-left: 10px;
    }
    .ico1{
        font-size: 18px;
    }
    .bx-alarm{
       font-size: 18px;
    }
    .bx-line-chart{
        margin-left: 60px;
    }
    .learn{
        margin-left: 10px;
        color: black;
    }
    .bored{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        /* padding-bottom: 50px;  */
        /* margin-top: 10px; */
        /* margin-left: 100px; */
        margin: 0 auto;
        overflow: hidden;
    }
    .bored *{
        padding:0;
    }

    .kenshin{
        padding-top: 20px;
        overflow: hidden;
    }
    .beyored h3{
        font-size: 20px;
    }
    .beyored h6{
        font-size: 10px;
    }

    .tired{
        overflow: hidden;
        padding-bottom: 50px;
    }
    .tiring{
        position: absolute;
        top: 3px;
        left: 8px;
        margin: 15px 0 0 45px;
    }
    .tiring h6,h3{
        font-size: 15px;
    }
    .tiring p{
        font-size: 10px;
    }
    .rte{
        size: 5px;
    }
    .row5{
        background-color: whitesmoke;
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        /* padding: 30px 0; */
        /* border-bottom: 10px; */
    }
    .ban{
        margin-left: 20px;
    }
    .merry{
        margin-left: 23rem;
    }
    .last{
        display: grid;
        margin-left: 10px;
        margin-top: 10px;
    }
    .info{
        font-size: 10px;
        margin: 10px;
    }
    .info h6{
        font-size: 10px;
        font-weight: 20px;
    }
    .act{
        margin-top: 10px;
    }
    input{
        position: relative;
        display: inline-block;
        font-size: 10px;
        box-sizing: border-box;
    }
    input[type="email"]{
        height: 30px;
        padding: 0 5px;
    }
    input[type="submit"]{
        height: 30px;
        bottom: 1px;
    }
    .foot{
        font-size: 20px;
    }
    .lore{
        font-size: 10px;
    }
}